$mobileMaxWidth: 48rem;
$primaryColor: #10133b;
$secondaryColor: #265072;
$background: #e0e0e0;
$homeBtnIcons: #be1616;
// $primaryError: #a30202;
// $secondaryError: #ff9595;
// $errorText: #800;
// $primaryValid: #0cb606;
// $secondaryValid: #91f88d;
// $priceText: #4d4d4d;
// $messageText: #8ac1ff;
// $commentsColor: #afc9ff;
/*BTN COLOR*/
$btnColor: #283593;
$btnHoverColor: #3747bc;

@mixin desktop {
    @media (min-width: $mobileMaxWidth) {
        @content;
    }
}

@mixin vendor($attribute, $value, $vendors: (moz, ms, o, webkit)) {
    @each $vendor in $vendors {
        -#{$vendor -$attribute}: $value;
    }
    #{$attribute}: $value;
}