$mobileMaxWidth: 48rem;
$primaryColor: #10133b;
$secondaryColor: #265072;

$background: #e0e0e0;
$modalBackground: #fafafa;
$backdropBackground: rgba(0,0,0,0.5);

$homeBtnIcons: #be1616;

// $errorText: #800;
// $primaryValid: #0cb606;
// $secondaryValid: #91f88d;
// $priceText: #4d4d4d;
// $messageText: #8ac1ff;
// $commentsColor: #afc9ff;
//BTN COLOR
$btnColor: #283593;
$btnHoverColor: #3747bc;
$btnDisabledBackground: #9a9b9c;
$btnDisabledColor: #455065;
$primaryError: #C62828;
$secondaryError: #dd4545;

@mixin desktop {
    @media (min-width: $mobileMaxWidth) {
        @content;
    }
}

@mixin vendor($attribute, $value, $vendors: (moz, ms, o, webkit)) {
    @each $vendor in $vendors {
        -#{$vendor -$attribute}: $value;
    }
    #{$attribute}: $value;
}