$mobileMaxWidth: 38rem;
$tabletMaxWidth: 48rem;
$primaryColor: #10133b;
$secondaryColor: #265072;

$background: #e0e0e0;
$radialInner: #f3f5f5;
$radialOuter: #bebfc0;
$modalBackground: #fafafa;
$backdropBackground: rgba(0, 0, 0, 0.5);

$homeBtnIcons: #be1616;
$contractionNumber: #018aff;

//BTN COLOR
$btnColor: #283593;
$btnHoverColor: #3747bc;
$tapBtnBG: #1a237e;
$btnDisabledBackground: #9a9b9c;
$btnDisabledColor: #455065;
$primaryError: #c62828;
$secondaryError: #dd4545;

//MedicalCodes
$AreaGroup: #099376;
$TraumaGroup: #8064a2;
$PainGroup: #4bacc6;
$CardioGroup: #c0504d;
$PulmonaryGroup: #4f81bd;
$NeurologyGroup: #a1a30e;
$DigestionGroup: #d8863a;
$SepticGroup: #829ca3;
$PsychiatryGroup: #00b050;
$EndocrinologyGroup: #92d050;
$GenitalGroup: #ba8280;
$GeneralGroup: #6b7177;

//Medical Roles
$Paramedic: #ff5200;
$Medic: #5a5a5a;
$Volunteer: #e61f1f;

//Tools Grades
$badShape: #B71C1C;
$medShape: #fbc02d;
$goodShape: #4CAF50;

@mixin medicalCodeSelectors($name, $bg) {
    .grp-#{$name} {
        color: white;
        background-color: $bg;
        justify-content: center;
        & ~ .md-list-item {
            .md-list-item-content {
                &:hover {
                    background-color: rgba($color: $bg, $alpha: 0.3);
                }
            }
            .md-checkbox {
                &.md-checked {
                    .md-checkbox-container {
                        background-color: $bg;
                        border-color: $bg;
                    }
                }
            }
        }
    }
}

@mixin desktop {
    @media (min-width: $tabletMaxWidth) {
        @content;
    }
}
@mixin tablet {
    @media (min-width: $mobileMaxWidth) {
        @content;
    }
}

@mixin vendor($attribute, $value, $vendors: (moz, ms, o, webkit)) {
    @each $vendor in $vendors {
        -#{$vendor -$attribute}: $value;
    }
    #{$attribute}: $value;
}

@mixin transition($x...) {
    -webkit-transition: $x;
    -moz-transition: $x;
    -ms-transition: $x;
    -o-transition: $x;
    transition: $x;
}
